
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@* Bu Sayfa'da Arkadaşın Kendi Bilgileri Basabilirsiniz!!!1*@

@*Giriş yapan kişinin bilgileri session'da tutucaz sonra ekrana basacaz!!*@
<h1>Index</h1>

